@import url(./style.css);

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

body {
    background: #F9F9F9;
    color: #303030;
    min-width: 320px;

}

.header {
    background: #2D2D2D;
    padding: 28px 0;

}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__nav-logo {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;

}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 120px;
}

.header__nav-list__item-home {
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;

}

.header__nav-search_shop {
    display: flex;
    gap: 40px;
}

.header__nav-search {
    width: 20;
    height: 20;

}

.header__nav-shop {
    width: 17;
    height: 20;

}

.baner {
    background: url(../img/bg.svg) no-repeat center bottom / cover;
    height: 80svh;
}

.baner__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.baner__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: clamp(1.875rem, 0.265rem + 8.05vw, 6rem);
    color: #FFFFFF;

}

.baner__link {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    padding: 30px;
    background: #FFFFFF;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    border-radius: 12px;



}

.about {
    margin: 100px 0 100px;
    
}

.about__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.about__wrap-title__h2 {
    font-family: " Quicksand", sans-serif;
    font-weight: 700px;
    font-size: 40px;
    color: #303030;
    text-align: center;
}

.about__wrap-title_p {
    max-width: 700px;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;    
    color: #303030;
    text-align: center;
    line-height: 200%;


}

.collection {
    margin: 100px 0;

}


.collection__h2 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #303030;


}

.collection__wrap {
    padding: 80px 0;

}
.collection__first-block{
    display: flex;
    gap: 30px;
}

.collection__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.collection__second-block{
    margin: 100px 0;
    display: flex;
    gap: 30px;

}
.collection__left-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.collection__left-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #303030;
}

.collection__left-p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 30px;
    color: #303030;
}

.collection__left-discover {
    display: inline-block;
    max-width: 160px;
    width: 100%;
    border-radius: 12px;
    background: #000000;
    padding: 25px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.footer {
    background: #2D2D2D;
    padding: 70px 0;

}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__nav-logo {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.footer__nav-list{
    display: flex;
    gap: 120px;
}
.footer__nav-list__item-home {
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;

}
.footer__nav-search_shop {
    display: flex;
    gap: 40px;
}
.footer__nav-search {
    width: 20;
    height: 20;

}
.footer__nav-shop {
    width: 17;
    height: 20;

}
